<!-- Jumbotron -->
<div class="jumbotron text-center dark pl-5 ">
    <!-- Title -->
    <h2 class="card-title h2">Welcome To Body Mass Index Calculation</h2>
    <!-- Subtitle -->
 
    <!-- Grid row -->
  
    <hr class="my-4">
  
    <div class="pt-2">
        <button type="button" mdbBtn color="primary" mdbWavesEffect  routerLink="/person" >  Add  <mdb-icon fas icon="plus" class="ml-1"></mdb-icon></button>
      <button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/persons"> Show <mdb-icon fas icon="download" class="ml-1"></mdb-icon></button>
    </div>
  
  </div>
  <!-- Jumbotron -->


<router-outlet></router-outlet>