<div mat-dialog-content>
  <div class="p-3 mb-2 bg-dark text-white">
    <h2 class="text-justify">Confirm Data</h2>
  </div>

  <div class="p-3 mb-2 bg-light text-dark">
    <span> <b>Name : </b> {{data.name}}</span>
  </div>
  <hr>
  <div class="p-3 mb-2 bg-light text-dark">
    <span> <b>Weight : </b> {{data.weight}}</span>
  </div>
  <hr>
  <div class="p-3 mb-2 bg-light text-dark">
    <span> <b>Height : </b> {{data.height}}</span>
  </div>
  <hr>
  <div class="p-3 mb-2 bg-light">
    <h3 class="{{data.classColor}}"> Bmi : {{data.bmi}}</h3>
    <span> <b>อยู่ในเกณฑ์ : </b> {{data.textShow}}</span><br>
  </div>
  <hr>

</div>
<div mat-dialog-actions>
  <button mdbBtn [mat-dialog-close] type="button" class="btn btn-cyan" mdbWavesEffect>
    <i class="fas fa-ban"></i> Cancel
  </button>
  <button mdbBtn [mat-dialog-close] type="button" class="btn btn-primary" mdbWavesEffect (click)="addPerson()"
    mdbWavesEffect>
    <mdb-icon far icon="save"></mdb-icon> Confirm
  </button>

</div>