<div class="row mx-auto p-3">
    <div class="col">
        <div class="p-3 bg-light">
            <h4>Name : {{ personDetails.name }}</h4>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-light">
            <h4 [class]="valueBmi">
                Bmi Is
                {{(personDetails.weight / ((personDetails.height / 100) * (personDetails.height / 100))).toFixed(2) }}
            </h4>
        </div>
    </div>
</div>
<div class="formperson m-4">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Your Name</span>
        </div>
        <input type="text" [(ngModel)]="personDetails.name" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Weight (kg)</span>
        </div>
        <input type="number" [(ngModel)]="personDetails.weight" id="weight" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Height (cm)</span>
        </div>
        <input type="number" (keyup)="onKey($event)" [(ngModel)]="personDetails.height" id="height" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
    </div>

    <div class="text-center"> <button  mdbBtn type="button" color="info" mdbWavesEffect (click)="openDialog()">
            <mdb-icon far icon="save"></mdb-icon> Save
        </button>
    </div>
</div>